.titles-rails {
  padding: 0 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.titles-rails h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.movies {
  width: 60rem;
  display: flex;
  overflow: auto;
  gap: 1rem;
}

.movies::-webkit-scrollbar {
  display: none;
}

.post-movie {
  height: 15.5rem;
  width: 11rem;
  box-sizing: border-box;
  border: 0.25rem solid transparent;
}

.post-movie img {
  width: 10rem;
  height: 15rem;
  flex-shrink: 0;
}

.movies .active {
  border: 0.25rem solid white;
}
